<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css" />
    <title>Ecommerce Site</title>
</head>

<body class="font-custom">
    <div class="container mx-auto">
        <%- include ('partials/header') %>
    </div>
    <script src="https://kit.fontawesome.com/1de4292787.js" crossorigin="anonymous"></script>
</body>

</html>