<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icons/nike.png">
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/themes/splide-default.min.css">
    <title>Ecommerce Site</title>
</head>

<body class="font-custom h-screen">
    <div class="container mx-auto mb-10">
        <%- include ('partials/header') %>
            <!-- <nav class="flex mt-4">
                <ol class="flex text-grey-dark">
                    <li><a href="#" class="font-medium text-gray-400 mr-4 text-sm">Home</a></li>
                </ol>
            </nav> -->
            <div class="splide mx-auto mt-4">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide"><img src="/images/banner2.png"></li>
                        <li class="splide__slide"><img src="/images/banner.jpg"></li>
                        <li class="splide__slide"><img src="/images/banner1.jpg"></li>
                    </ul>
                </div>
            </div>
            <main class="pb-10">
                <!-- <h2 class="text-3xl mt-3">NIKE</h2> -->
                <div class="grid gap-6 mt-8 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2">
                    <div>
                        <a href="#">
                            <img class="block h-auto w-auto" src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,b_rgb:f5f5f5/0cb8ac57-2882-4cb2-a179-c564bb0cbc42/kd13-basketball-shoe-H6g10w.jpg" alt="">
                        </a>
                        <div class="flex flex-col mt-4">
                            <h4 class="font-semibold">KD13</h4>
                            <p class="my-1 text-gray-400 font-medium">Basketball Shoe</p>
                            <p class="text-gray-400 font-medium">$150.00</p>
                        </div>
                    </div>
                    <div>
                        <a href="/product-detail">
                            <img class="block h-auto w-auto" src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/7b6c54be-b1b5-4219-b3a2-cec8d2374621/air-jordan-xxxv-sisterhood-basketball-shoe-Z5q0s3.jpg" alt="">
                        </a>
                        <div class="flex flex-col mt-4">
                            <h4 class="font-semibold">Air Jordan XXXV "Sisterhood"</h4>
                            <p class="my-1 text-gray-400 font-medium">Basketball Shoe</p>
                            <p class="text-gray-400 font-medium">$180.00</p>
                        </div>
                    </div>
                    <div>
                        <a href="#">
                            <img class="block h-auto w-auto" src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,b_rgb:f5f5f5/7f80811a-20f6-4c70-8177-50398e8fee40/air-jordan-1-mid-se-mens-shoe-GR4N79.jpg" alt="">
                        </a>
                        <div class="flex flex-col mt-4">
                            <h4 class="font-semibold">Air Jordan 1 Mid SE</h4>
                            <p class="my-1 text-gray-400 font-medium">Men's Shoe</p>
                            <p class="text-gray-400 font-medium">$125.00</p>
                        </div>
                    </div>
                    <div>
                        <a href="#">
                            <img class="block h-auto w-auto" src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/eabcbd62-9fd9-4988-83c4-9f33feea1cf1/air-force-1-07-lv8-mens-shoe-qgfv2t.jpg" alt="">
                        </a>
                        <div class="flex flex-col mt-4">
                            <h4 class="font-semibold">Nike Air Force 1 '07 LV8</h4>
                            <p class="my-1 text-gray-400 font-medium">Men's Shoe</p>
                            <p class="text-gray-400 font-medium">$110.00</p>
                        </div>
                    </div>
                </div>
            </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script src="https://kit.fontawesome.com/1de4292787.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/login.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            new Splide('.splide', {
                type: 'loop',
                heightRatio: 0.4,
                autoplay: true,
                cover: true,
            }).mount();
        });
    </script>
</body>

</html>