<header class="pt-4 flex flex-row justify-around">
    <form>
        <i class="fas fa-search mr-2"></i>
        <input class="placeholder-gray-700 focus:outline-none" type="text" placeholder="Search">
    </form>
    <h1 class="font-bold text-lg">Languish</h1>
    <div class="flex">
        <i class="block far fa-user fa-lg"></i>
        <i class="block far fa-heart fa-lg mx-2"></i>
        <i class="block fas fa-shopping-bag fa-lg"></i>
    </div>
</header>

<nav class="flex justify-items-center">
    <ul>
        <li class="nav-item">New In</li>
        <li class="nav-item">Designers</li>
        <li class="nav-item">Clothing</li>
        <li class="nav-item">Shoes</li>
        <li class="nav-item">Bags</li>
        <li class="nav-item">Jewelry</li>
        <li class="nav-item">Accessories</li>
        <li class="nav-item">Beauty</li>
        <li class="nav-item">Occasions</li>
        <li class="nav-item">Sale</li>
    </ul>
</nav>