<header class="pt-4 flex justify-between">
    <form>
        <i class="fas fa-search mr-2"></i>
        <input class="placeholder-gray-700 focus:outline-none" type="text" placeholder="Search">
    </form>
    <a href="#" class="-mt-3">
        <img class="w-12 h-12" src="/images/icons/nike.svg">
    </a>
    <div class="flex">
        <i id="user-button" class="block far fa-user fa-lg cursor-pointer"></i>
        <i class="block far fa-heart fa-lg mx-5"></i>
        <i class="block fas fa-shopping-bag fa-lg"></i>
    </div>
</header>

<nav class="mt-10 mx-auto pl-8">
    <ul class="flex justify-center space-x-6">
        <li><a href="#" class="font-medium no-underline hover:text-gray-500">New Releases</a></li>
        <li><a href="#" class="font-medium no-underline hover:text-gray-500">Men</a></li>
        <li><a href="#" class="font-medium no-underline hover:text-gray-500">Women</a></li>
        <li><a href="#" class="font-medium no-underline hover:text-gray-500">Kids</a></li>
        <li><a href="#" class="font-medium no-underline hover:text-gray-500">Customize</a></li>
        <li><a href="#" class="font-medium no-underline hover:text-gray-500">Sale</a></li>
    </ul>
</nav>
<hr class="mt-6">