<header class="mt-4 flex justify-between">
    <form class="bg-gray-100 flex justify-center items-center rounded-full">
        <i class="fas fa-search text-gray-700 mx-3"></i>
        <input class="placeholder-gray-700 focus:outline-none bg-transparent p-1" type="text" placeholder="Search">
    </form>
    <a href="#">
        <img class="w-12 h-12" src="/images/icons/nike.svg">
    </a>
    <div class="flex justify-content items-center">
        <% if (typeof name !=='undefined' ) { %>
            <span>
                <img class="w-8 h-8 rounded-full" src="<%= image %>" alt="">
            </span>
            <p class="ml-5"><%= name %></p>
        <% } else { %>
            <i id="user-button" class="block far fa-user fa-lg cursor-pointer"></i>
        <% } %>
        <i class="block far fa-heart fa-lg mx-5 cursor-pointer"></i>
        <i class="block fas fa-shopping-bag fa-lg cursor-pointer"></i>
    </div>
</header>

<nav class="mt-10 mx-auto pl-8">
    <ul class="flex justify-center space-x-6">
        <li><a href="#" class="font-medium no-underline hover:text-gray-500">New Releases</a></li>
        <li><a href="#" class="font-medium no-underline hover:text-gray-500">Men</a></li>
        <li><a href="#" class="font-medium no-underline hover:text-gray-500">Women</a></li>
        <li><a href="#" class="font-medium no-underline hover:text-gray-500">Kids</a></li>
        <li><a href="#" class="font-medium no-underline hover:text-gray-500">Customize</a></li>
        <li><a href="#" class="font-medium no-underline hover:text-gray-500">Sale</a></li>
    </ul>
</nav>
<hr class="mt-6">