<div id="login-modal" class="h-screen w-screen fixed top-1/2 left-1/2 z-10 bg-black bg-opacity-80 hidden"
    style="transform: translate(-50%, -50%);">
    <div class="bg-white mx-auto pt-8 pb-16 w-2/5 mt-56 z-50 relative">
        <span id="login-modal-close"
            class="font-bold text-4xl absolute top-0 right-4 text-gray-800 cursor-pointer hover:text-gray-300">&times;</span>
        <img class="w-14 h-14 mx-auto" src="/images/icons/nike.svg">
        <h4 class="font-bold text-center my-4 text-2xl">YOUR ACCOUNT FOR <br>EVERYTHING NIKE</h4>
        <div class="flex justify-center w-full">
            <form id="login-form" class="flex flex-col w-3/5" method="POST" action="/user/login">
                <input class="border-solid border-2 px-4 py-2 placeholder-gray-400 focus:outline-none" type="email"
                    name="email" placeholder="Email" required>
                <input class="mt-4 border-solid border-2 px-4 py-2 placeholder-gray-400 focus:outline-none" type="password"
                    name="password" placeholder="Password" required>
                <button type="submit" class="mt-4 bg-black p-2 text-white font-bold" id="login-button">SIGN IN</button>
                <p class="mt-4 text-center font-medium text-gray-500">Not a member? <span class="text-black underline cursor-pointer" id="register-link">Join Us</span></p>
                <!-- <a href="#" class="mt-4 bg-red-600 p-2 text-white font-bold text-center">SIGN IN WITH GOOGLE</a> -->
            </form>
        </div>
    </div>
</div>